NEXT_PUBLIC_SERVER_URL="http://localhost:4000"

GIPHY_API_KEY=""
SESSION_SECRET="dev-secret-change-me-min-32-chars-required-here"
REDIS_URL="redis://localhost:6379"

AUTH_SECRET="dev-auth-secret-change-me-min-32-chars-required-here"
NEXTAUTH_URL="http://localhost:3000"

DATABASE_URL="postgres://postgres:postgres@localhost:5432/tabswitch"

MAILJET_API_KEY=""
MAILJET_SECRET_KEY=""
EMAIL_FROM="support@matepedia.com"
